# Ignore everything by default
*

# System files
.DS_Store
**/.DS_Store

# Allow .gitignore itself
!.gitignore

# Allow README files
!README.md
# !robots.txt

# Allow legacy
/__legacy/*
!/__legacy/
!/__legacy/*.php



/install/*


/admin/*
!/admin/

/admin/controller/*
!/admin/controller/

/admin/controller/catalog/*
!/admin/controller/catalog/

/admin/controller/common/*
!/admin/controller/common/

/admin/controller/extension/*
!/admin/controller/extension/

!/admin/controller/extension/module/
!/admin/controller/extension/module/**

!/admin/controller/extension/basel/
!/admin/controller/extension/basel/**

/admin/controller/extension/theme/*
!/admin/controller/extension/theme/
!/admin/controller/extension/theme/basel.php



/admin/language/*
!/admin/language/

/admin/language/en-gb/*
!/admin/language/en-gb/

/admin/language/en-gb/catalog/*
!/admin/language/en-gb/catalog/

/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/

!/admin/language/en-gb/extension/module/
!/admin/language/en-gb/extension/module/**

/admin/language/en-gb/extension/theme/*
!/admin/language/en-gb/extension/theme/
!/admin/language/en-gb/extension/theme/basel.php
!/admin/language/en-gb/basel/
!/admin/language/en-gb/basel/**


/admin/language/ru-ru/*
!/admin/language/ru-ru/

!/admin/language/ru-ru/blog/
!/admin/language/ru-ru/blog/**

/admin/language/ru-ru/catalog/*
!/admin/language/ru-ru/catalog/

/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/

!/admin/language/ru-ru/extension/module/
!/admin/language/ru-ru/extension/module/**
/admin/language/ru-ru/extension/theme/*
!/admin/language/ru-ru/extension/theme/
!/admin/language/ru-ru/extension/theme/basel.php
!/admin/language/ru-ru/basel/
!/admin/language/ru-ru/basel/**



/admin/model/*
!/admin/model/

/admin/model/catalog/*
!/admin/model/catalog/

/admin/model/tool/*
!/admin/model/tool/

/admin/model/extension/*
!/admin/model/extension/

!/admin/model/extension/blog/
!/admin/model/extension/blog/**

!/admin/model/extension/module/
!/admin/model/extension/module/**

!/admin/model/extension/basel/
!/admin/model/extension/basel/**



/admin/view/*
!/admin/view/

/admin/view/javascript/*
!/admin/view/javascript/
!/admin/view/javascript/common.js

!/admin/view/javascript/font**

!/admin/view/javascript/basel/
!/admin/view/javascript/basel/**
!/admin/view/javascript/basel_megamenu/
!/admin/view/javascript/basel_megamenu/**

/admin/view/stylesheet/*
!/admin/view/stylesheet/
!/admin/view/stylesheet/stylesheet.css

/admin/view/template/*
!/admin/view/template/

/admin/view/template/catalog/*
!/admin/view/template/catalog/

/admin/view/template/common/*
!/admin/view/template/common/

/admin/view/template/extension/*
!/admin/view/template/extension/

!/admin/view/template/extension/blog/
!/admin/view/template/extension/blog/**

!/admin/view/template/extension/module/
!/admin/view/template/extension/module/**

!/admin/view/template/extension/basel/
!/admin/view/template/extension/basel/**

/admin/view/template/extension/theme/*
!/admin/view/template/extension/theme/
!/admin/view/template/extension/theme/basel.tpl
!/admin/view/template/extension/theme/basel.twig


/catalog/*
!/catalog/

/catalog/controller/*
!/catalog/controller/

/catalog/controller/extension/*
!/catalog/controller/extension/

!/catalog/controller/extension/module/
!/catalog/controller/extension/module/**

!/catalog/controller/extension/basel/
!/catalog/controller/extension/basel/**

!/catalog/controller/mail/
!/catalog/controller/mail/order.php



/catalog/language/*
!/catalog/language/

/catalog/language/en-gb/*
!/catalog/language/en-gb/

!/catalog/language/en-gb/blog/
!/catalog/language/en-gb/blog/**

/catalog/language/en-gb/checkout/*
!/catalog/language/en-gb/checkout/
!/catalog/language/en-gb/checkout/**

/catalog/language/en-gb/extension/*
!/catalog/language/en-gb/extension/

!/catalog/language/en-gb/extension/module/
!/catalog/language/en-gb/extension/module/**

!/catalog/language/en-gb/basel/
!/catalog/language/en-gb/basel/**

!/catalog/language/en-gb/mail/
!/catalog/language/en-gb/mail/order_add.php
!/catalog/language/en-gb/mail/order_alert.php


/catalog/language/ru-ru/*
!/catalog/language/ru-ru/

!/catalog/language/ru-ru/blog/
!/catalog/language/ru-ru/blog/**

/catalog/language/ru-ru/checkout/*
!/catalog/language/ru-ru/checkout/
!/catalog/language/ru-ru/checkout/**

/catalog/language/ru-ru/extension/*
!/catalog/language/ru-ru/extension/

!/catalog/language/ru-ru/extension/module/
!/catalog/language/ru-ru/extension/module/**

!/catalog/language/ru-ru/basel/
!/catalog/language/ru-ru/basel/**

!/catalog/language/ru-ru/mail/
!/catalog/language/ru-ru/mail/order_add.php
!/catalog/language/ru-ru/mail/order_alert.php


/catalog/model/*
!/catalog/model/

/catalog/model/checkout/*
!/catalog/model/checkout/
!/catalog/model/checkout/order.php

/catalog/model/extension/*
!/catalog/model/extension/

!/catalog/model/extension/blog/
!/catalog/model/extension/blog/**

/catalog/model/extension/module/*
!/catalog/model/extension/module/
!/catalog/model/extension/module/digitalElephantFilter.php

!/catalog/model/extension/basel/
!/catalog/model/extension/basel/**


/catalog/view/*
!/catalog/view/

!/catalog/view/image/
!/catalog/view/image/**

!/catalog/view/javascript/
!/catalog/view/javascript/**

/catalog/view/theme/*
!/catalog/view/theme/

/catalog/view/theme/default/*
!/catalog/view/theme/default/

!/catalog/view/theme/default/image/
!/catalog/view/theme/default/image/**

!/catalog/view/theme/default/stylesheet/
!/catalog/view/theme/default/stylesheet/**

/catalog/view/theme/default/template/*
!/catalog/view/theme/default/template/

/catalog/view/theme/default/template/module/*
!/catalog/view/theme/default/template/module/
!/catalog/view/theme/default/template/module/xd_callback.tpl

/catalog/view/theme/default/template/extension/*
!/catalog/view/theme/default/template/extension/

!/catalog/view/theme/default/template/extension/module/
!/catalog/view/theme/default/template/extension/module/**

!/catalog/view/theme/basel/
!/catalog/view/theme/basel/**



/image/*
!/image/
!/image/no_video.png
!/image/no_video2.png
/image/catalog/*
!/image/catalog/
!/image/catalog/basel-demo/
!/image/catalog/basel-demo/**



/system/*
!/system/
!/system/basel_theme_23.ocmod.xml